language: go

go:
  - "1.12.x"
  - "1.13.x"
  - "1.14.x"
  - "tip"

os:
  - linux
  - osx
  - windows

sudo: false

branches:
  only:
    - master
    - develop

env:
  # Setting environments variables
  - GO111MODULE=on

install:
  # Setting environments variables
  - export PATH=$PATH:$HOME/gopath/bin
  - export REVEL_BRANCH="develop"
  - 'if [[ "$TRAVIS_BRANCH" == "master" ]]; then export REVEL_BRANCH="master"; fi'
  - 'echo "Travis branch: $TRAVIS_BRANCH, Revel dependency branch: $REVEL_BRANCH"'
  - git clone -b $REVEL_BRANCH git://github.com/revel/revel ../revel/
  - git clone -b $REVEL_BRANCH git://github.com/revel/cmd ../cmd/
  - git clone -b $REVEL_BRANCH git://github.com/revel/config ../config/
  - git clone -b $REVEL_BRANCH git://github.com/revel/cron ../cron/
  - go get -t -v github.com/revel/revel/...
  - go get -t -v github.com/revel/modules/...

script:
  - go test -v github.com/revel/modules/csrf/...
  - go test -v github.com/revel/modules/server-engine/...
  - go test -v github.com/revel/modules/template-engine/...
  - go test -v github.com/revel/modules/orm/...

matrix:
  allow_failures:
    - go: tip
    - os: "windows"
